[program:kibana]
command={{ kibana_root_path }}/latest/bin/kibana --port {{ kibana_port }} --config {{ kibana_root_path }}/etc/kibana.yml
user={{ kibana_user }}
directory={{ kibana_root_path }}/latest
autorestart=true
stdout_logfile={{ kibana_log_path }}
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
stdout_capture_maxbytes=1MB
redirect_stderr=true
