Protocol 2
Port {{ sshd_port }}
UsePrivilegeSeparation yes
SyslogFacility AUTH
LogLevel INFO
PermitRootLogin no
StrictModes yes
ChallengeResponseAuthentication no
PasswordAuthentication no
GSSAPIAuthentication no
X11Forwarding no
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM no
